.forms-base {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button_submit {
  margin: auto;
  width: fit-content;
}

.chars-left {
  text-align: right;
}
